.wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}

.paragraph {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
