.wrapper {
  margin-bottom: 30px;
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 15px;
}

.input {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #1e2130;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  resize: none;
  font-family: 'Montserrat';
  // TODO Accessibility for input
}
