.button {
  padding: 12px 40px;
  border: none;
  border-radius: 5px;
  background-color: #6953a8;
  color: white;
  font-family: 'Montserrat';
  cursor: pointer;

  // TODO Accessibility for button
}
