.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.item {
  padding: 8px 15px;
  outline: 1px solid white;
  outline-offset: -1px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-family: 'Fira Code';
  font-weight: 500;

  &:focus {
    background: #6953a8;
    outline: none;
  }
}

.active {
  background: #6953a8;
  outline: none;
}
