.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.content {
  width: 100%;
  min-height: 100vh;
  font-family: 'Montserrat';
  padding: 30px;
  display: grid;
  grid-template-rows: 50px 1fr;
}

@media (min-width: 850px) {
  .content {
    width: 1000px;
  }
}
